<html>
    <title>Users List</title>
    <h1>{{ title }}</h1>
    <ul>
        {% for u in users %}
        <li>
            {{u.firstname}} {{u.lastname}}
        </li>
        {% endfor %}
    </ul>
    {% if has_error %}
       <p style="color: red">
            {{field}}: {{error}}
        </p>
    {% endif %}
    <body>
    <form action="" method="POST">
        First name:
        <br/>
        <input type="text" name="firstname"/>
        <br/>
        Last name:
        <br/>
        <input type="text" name="lastname"/>
        <br/>
        Username:
        <br/>
        <input type="text" name="username"/>
        <br/>
        Password:
        <br/>
        <input type="text" name="password"/>
        <br/>
        <input type="submit" value="Add_user"/>
    </form>
    </body>
</html>